{include file="/header" /} 
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div>
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>库存赠送</h5>
                </div>
                <div class="ibox-content">
                    <form  class="form-horizontal m-t" id="commentForm" method="post" onsubmit="return toVaild()">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">赠送人员：</label>
                            <div class="input-group col-sm-6">

                                <input type="text" id="selectId" list="userId"  class="  form-control "  onchange="userSelect()"  autocomplete="off" />
                                <datalist id="userId">
                                    {foreach name='user' item='vo' key='key'}
                                    <option value="{$vo.username}" data-id="{$vo.id}"></option>
                                    {/foreach}
                                </datalist>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">游戏名称：</label>
                            <div class="input-group col-sm-6">
                                <input type="text" id="input" list="gamesId"  class="  form-control "  onchange="inputSelect()" />
                                <datalist id="gamesId">
                                    {foreach name='games' item='vo' key='key'}
                                    <option value="{$vo.gs_name}" data-id="{$vo.gs_id}"></option>
                                    {/foreach}
                                </datalist>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">面值名称：</label>
                            <div class="input-group col-sm-6">
                                <select name="price_id" class="form-control" id="itemizeId">
                                    <option value="0" class="itemize">请选择</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">赠送数量：</label>
                            <div class="input-group col-sm-6">
                                <input type="number" class="form-control" name="trans_num" min="1"  autocomplete="false" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">二级密码：</label>
                            <div class="input-group col-sm-6">
                                <input type="password" class="form-control" name="pay_pass"   aria-required="true"  autocomplete="false" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">持有数量：</label>
                            <div class="input-group col-sm-6">
                                <input type="text" class="form-control" id="stockNum" value="0" readonly>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-3">
                                <button class="btn btn-primary" type="submit">提交</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{include file="/footer" /}
</body>
</html>
<script>
    //获取面值列表
    games_id = '';
    //获取库存数量
    function inputSelect() {
        var input_select = $("#input").val();
        var option_length = $("option").length;
        var option_id = '';
        for (var i = 0; i < option_length; i++) {
            var option_value = $("option").eq(i).val();
            if (input_select == option_value) {
                option_id = $("option").eq(i).attr('data-id');
                break;
            }
        }

        games_id  = option_id;

        //先清空
        $("#itemizeId").find('.itemize').remove();
        var url = "{:url('stock/itemizeList')}";
        //发送请求处理 处理数据
        $.post(url,{"id" : option_id},function(msg){
            if(msg.code == 1){
                var itemize = '<option class="itemize" value="0">请选择</option>';
                $.each(msg.data, function (key, value){
                    itemize += '<option class="itemize" value="'+value.id+'">'+value.gold+'</option>';
                });
                $("#itemizeId").append(itemize);
            }
        })
    }

    //获取库存数量
    $("#itemizeId").bind("change",function(){
        var gamesId   = games_id;
        var itemizeId = $(this).val();
        var url = "{:url('trans/stockNum?type=1')}";
        //发送请求处理 处理数据
        $.post(url,{"game_id":gamesId,'price_id':itemizeId},function(msg){
            if(msg.code == 1){
                //赋值数量
                $("#stockNum").val(msg.data);
            }else{
                $("#stockNum").val(0);
            }
        })
    });

    user_id = '';
    /**
     * 获取用户数据
     */
    function userSelect() {
        var input_select = $("#selectId").val();
        var option_length = $("option").length;
        var option_id = '';
        for (var i = 0; i < option_length; i++) {
            var option_value = $("option").eq(i).val();
            if (input_select == option_value) {
                option_id = $("option").eq(i).attr('data-id');
                break;
            }
        }

        user_id  = option_id;
    }

    //表单提交
    function toVaild(){
        var jz;
        var url = "./transGive";
        $.ajax({
            type:"POST",
            url:url,
            data:{'data' : $('#commentForm').serialize(),'id':games_id,'user_id':user_id},// 你的formid
            async: false,
            beforeSend:function(){
                jz = layer.load(0, {shade: false}); //0代表加载的风格，支持0-2
            },
            error: function(request) {
                layer.close(jz);
                swal("网络错误!", "", "error");
            },
            success: function(data) {
                //关闭加载层
                layer.close(jz);
                if(data.code == 1){

                    swal({
                        title: data.msg,
                        // text: data.msg,
                        type: "success",
                        showCancelButton: false,
                        // confirmButtonColor: "rgb(174, 222, 244)",
                        // cancelButtonText: "取消",
                        confirmButtonText: "确定！",
                        closeOnConfirm: false
                    }, function () {
                        location.reload();
                    });
                }else{
                    swal({
                        title: data.msg,
                        // text: data.msg,
                        type: "error",
                        showCancelButton: false,
                        // confirmButtonColor: "rgb(174, 222, 244)",
                        // cancelButtonText: "取消",
                        confirmButtonText: "确定！",
                        closeOnConfirm: false
                    });
                }

            }
        });

        return false;
    }
</script>