<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>库存管理系统</title>
    <link href="__CSS__/bootstrap.min.css" rel="stylesheet">
    <link href="__CSS__/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="__CSS__/animate.min.css" rel="stylesheet">
    <link href="__CSS__/style.min.css" rel="stylesheet">
    <link href="__CSS__/login.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->
    <script>
        if(window.top!==window.self){window.top.location=window.location};
    </script>

</head>
<body class="signin">
<div class="signinpanel">
    <div class="row">
        <div class="col-sm-12" style="float:none;text-align:center">
            <div class="signin-info">
                <div class="logopanel m-b">
                </div>
                <div class="m-b"></div>
               
                <ul class="m-b">

                </ul>
            </div>
        </div>
        <div class="col-sm-5" style="margin:0 auto;float:none" >
            <form method="post" action="index.html">
                <p class="m-t-md" id="err_msg" style="color:white;">登录到库存管理系统</p>
                <input type="text" class="form-control uname" placeholder="用户名" id="username" />
                <input type="password" class="form-control pword m-b" placeholder="密码" id="password" />
                <div style="margin-bottom:70px">
                    <input type="text" class="form-control" placeholder="验证码" style="color:black;width:110px;float:left;margin:0px 0px;" name="code" id="code"/>
                    <img src="{:captcha_src()}"  onclick="javascript:this.src='{:captcha_src()}?tm='+Math.random();"style="width:120px;float:right; height: 32px; margin:1px 0px;" class="captcha"/>
                </div>
                <div class="form-group text-left">
                    <div class="checkbox i-checks">
                        <label class="no-padding">
                            <div class="icheckbox_square-green" style="position: relative;">
                                 <!--<input type="checkbox" style="margin-top: 3px;margin-left: 3px" checked disabled>
                               <a  id="protocol" style="margin-left: 20px">库存平台服务协议（用户协议）</a>-->
                            </div>
                        </label>
                    </div>
                </div>
                <input class="btn btn-success btn-block" id="login_btn" value="登录"/>
            </form>
        </div>
    </div>
    <div class="signup-footer" style="margin-top:150px;">
        <div class="" style="text-align:center" >
            <a href="" target="_blank" style="color:#ffffff;">请正确使用，不要违法使用，如违法，后自负，祝大家发发发。</a>
        </div>
       <div class="" style="text-align:center" >
            <a href="" target="_blank" style="color:#ffffff;">我们自己的客户都是一对一加密和客户。因为没有后门，市场肯定会出现破解盗用等，切记，不要给别人破解去，能破解你的，就能盗你的</a>
        </div>
      <div class="" style="text-align:center" >
            <a href="" target="_blank" style="color:#ffffff;">我们搭建以后，会教修改宝塔 数据库 和数据库隐藏密码，同时会给一对加密解密和防盗密码，让你亲自手动换掉，如果不是，那你买的可能是盗版，请不要使用。被盗了就找给你搭建的人吧，这就是贪下便宜的结果</a>
        </div>
    </div>
</div>
<script src="__JS__/jquery.min.js?v=2.1.4"></script>
<script src="__JS__/bootstrap.min.js?v=3.3.6"></script>
<script src="__JS__/plugins/layer/layer.js" ></script>
<script type="text/javascript">
    document.onkeydown=function(event){
        var e = event || window.event || arguments.callee.caller.arguments[0];
        if(e && e.keyCode==13){ // enter 键
            $('#login_btn').click();
        }
    };
    var lock = false;
    $(function () {
        $('#login_btn').click(function(){
            if(lock){
                return;
            }
            lock = true;
            $('#err_msg').hide();
            $('#login_btn').removeClass('btn-success').addClass('btn-danger').val('登陆中...');
            var username = $('#username').val();
            var password = $('#password').val();
            var code = $('#code').val();
            $.post("{:url('login/doLogin')}",{'username':username, 'password':password, 'code':code},function(data){
                lock = false;
                $('#login_btn').val('登录').removeClass('btn-danger').addClass('btn-success');
                if(data.code!=1){
                    $('#err_msg').show().html("<span style='color:red'>"+data.msg+"</span>");
                    $('.captcha').click();
                }else{
                    console.log(data.data);
                    window.location.href=data.data;
                }
            });
        });

        $('#protocol').click(function(){
            layer.open({
                type: 2,
                title: false,
                shadeClose: true,
                shade: false,
                area: ['50%', '85%'],
                btn: ['关闭'],
                content: ['./protocol'], //iframe的url，no代表不显示滚动条
            });
        });


        layer.msg('欢迎来到库存管理平台');
    });
</script>
</body>
</html>
